.d_f,
.display_flex {
	display: flex;
}
.d_g,
.display_grid {
	display: grid;
}
.d_b,
.display_block {
	display: block;
}
.d_i-b,
.display_inline-block {
	display: inline-block;
}
.d_n,
.display_none {
	display: none;
}
