.f-d_r,
.flex-direction_row {
	flex-direction: row;
}
.f-d_c,
.flex-direction_column {
	flex-direction: column;
}
.f-w_w,
.flex-wrap_wrap {
	flex-wrap: wrap;
}
.f-w_n,
.flex-wrap_nowrap {
	flex-wrap: nowrap;
}
