.h_10vh,
.height_10vh {
	height: 10vh;
}
.h_20vh,
.height_20vh {
	height: 20vh;
}
.h_30vh,
.height_30vh {
	height: 30vh;
}
.h_40vh,
.height_40vh {
	height: 40vh;
}
.h_50vh,
.height_50vh {
	height: 50vh;
}
.h_60vh,
.height_60vh {
	height: 60vh;
}
.h_70vh,
.height_70vh {
	height: 70vh;
}
.h_80vh,
.height_80vh {
	height: 80vh;
}
.h_90vh,
.height_90vh {
	height: 90vh;
}
.h_100vh,
.height_100vh {
	height: 100vh;
}
