.p_static,
.position_static {
	position: static;
}
.p_r,
.position_relative {
	position: relative;
}
.p_f,
.position_fixed {
	position: fixed;
}
.p_a,
.position_absolute {
	position: absolute;
}
.p_sticky,
.position_sticky {
	position: sticky;
}
