.max-h_10vh,
.max-height_10vh {
	max-height: 10vh;
}
.max-h_20vh,
.max-height_20vh {
	max-height: 20vh;
}
.max-h_30vh,
.max-height_30vh {
	max-height: 30vh;
}
.max-h_40vh,
.max-height_40vh {
	max-height: 40vh;
}
.max-h_50vh,
.max-height_50vh {
	max-height: 50vh;
}
.max-h_60vh,
.max-height_60vh {
	max-height: 60vh;
}
.max-h_70vh,
.max-height_70vh {
	max-height: 70vh;
}
.max-h_80vh,
.max-height_80vh {
	max-height: 80vh;
}
.max-h_90vh,
.max-height_90vh {
	max-height: 90vh;
}
.max-h_100vh,
.max-height_100vh {
	max-height: 100vh;
}
