.min-h_10vh,
.min-height_10vh {
	min-height: 10vh;
}
.min-h_20vh,
.min-height_20vh {
	min-height: 20vh;
}
.min-h_30vh,
.min-height_30vh {
	min-height: 30vh;
}
.min-h_40vh,
.min-height_40vh {
	min-height: 40vh;
}
.min-h_50vh,
.min-height_50vh {
	min-height: 50vh;
}
.min-h_60vh,
.min-height_60vh {
	min-height: 60vh;
}
.min-h_70vh,
.min-height_70vh {
	min-height: 70vh;
}
.min-h_80vh,
.min-height_80vh {
	min-height: 80vh;
}
.min-h_90vh,
.min-height_90vh {
	min-height: 90vh;
}
.min-h_100vh,
.min-height_100vh {
	min-height: 100vh;
}
