.min-w_10vw,
.min-width_10vw {
	min-width: 10vw;
}
.min-w_20vw,
.min-width_20vw {
	min-width: 20vw;
}
.min-w_30vw,
.min-width_30vw {
	min-width: 30vw;
}
.min-w_40vw,
.min-width_40vw {
	min-width: 40vw;
}
.min-w_50vw,
.min-width_50vw {
	min-width: 50vw;
}
.min-w_60vw,
.min-width_60vw {
	min-width: 60vw;
}
.min-w_70vw,
.min-width_70vw {
	min-width: 70vw;
}
.min-w_80vw,
.min-width_80vw {
	min-width: 80vw;
}
.min-w_90vw,
.min-width_90vw {
	min-width: 90vw;
}
.min-w_100vw,
.min-width_100vw {
	min-width: 100vw;
}
