.c_p,
.cursor_pointer {
	cursor: pointer;
}
.c_a,
.cursor_auto {
	cursor: auto;
}
.u-s_a,
.user-select_auto {
	user-select: auto;
}
.u-s_n,
.user-select_none {
	user-select: none;
}
.p-e_a,
.pointer-events_auto {
	pointer-events: auto;
}
.p-e_n,
.pointer-events_none {
	pointer-events: none;
}
