.w_10vw,
.width_10vw {
	width: 10vw;
}
.w_20vw,
.width_20vw {
	width: 20vw;
}
.w_30vw,
.width_30vw {
	width: 30vw;
}
.w_40vw,
.width_40vw {
	width: 40vw;
}
.w_50vw,
.width_50vw {
	width: 50vw;
}
.w_60vw,
.width_60vw {
	width: 60vw;
}
.w_70vw,
.width_70vw {
	width: 70vw;
}
.w_80vw,
.width_80vw {
	width: 80vw;
}
.w_90vw,
.width_90vw {
	width: 90vw;
}
.w_100vw,
.width_100vw {
	width: 100vw;
}
