body {
	padding: 0;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	letter-spacing: -0.035em;
	font-weight: 700;
}

.btn {
	font-weight: 600;
}

ul {
	padding-left: 1rem;
}

p,
ul {
	margin-bottom: 0;
}

img {
	user-select: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.btn {
	text-decoration: none;
}

kbd,
.img-thumbnail,
.form-control,
.form-control-sm,
.form-control-lg,
.form-control-color::-moz-color-swatch,
.form-control-color::-webkit-color-swatch,
.form-select,
.form-check-input[type="checkbox"],
.input-group-text,
.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text,
.input-group-lg > .btn,
.input-group-sm > .form-control,
.input-group-sm > .form-select,
.input-group-sm > .input-group-text,
.input-group-sm > .btn,
.valid-tooltip,
.invalid-tooltip,
.btn,
.btn-lg,
.btn-group-lg > .btn,
.btn-sm,
.btn-group-sm > .btn,
.dropdown-menu,
.nav-pills .nav-link,
.navbar-toggler,
.card,
.card-body,
.badge,
.alert,
.progress,
.list-group,
.btn-close,
.toast,
.modal-content,
.tooltip-inner,
.popover {
	border-radius: 10px;
}
