body {
	padding: 0;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	letter-spacing: -0.035em;
	font-weight: 700;
}

.btn {
	font-weight: 600;
}

ul {
	padding-left: 1rem;
}

p,
ul {
	margin-bottom: 0;
}

img {
	user-select: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.btn {
	text-decoration: none;
}
